<nav>
    <div class="container">
        <ul class="left">
            <li><a href="/">LOGO</a></li>
        </ul>
        <ul class="right">
            <li><a href="/vanilla">vanilla</a></li>
            <li><a href="/react">react</a></li>
            <li><a href="/vue">vue</a></li>
            <li><a href="/documentation">documentation</a></li>
        </ul>
    </div>
</nav>