<nav>
    <div class="container">
        <ul class="left">
            <li><a href="/">Apfel Sequence</a></li>
        </ul>
        <ul class="right">
            <li><a href="/">Vanilla JS</a></li>
            <li><a href="/react">React</a></li>
            <li><a href="/vue">Vue</a></li>
            <li><a href="/documentation">documentation</a></li>
        </ul>
    </div>
</nav>