main {
	background: #fefefe;
}
section {
	min-width: 100vw;
	min-height: 100vh;
}

.scroll-sequence.container {
	width: 100vw;
	height: 100vh;
}
.scroll-sequence {
	width: 100%;
	height: 100%;
	display: block;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
}

nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.5rem 1rem;
}

nav .container .left {
	text-align: left;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 1rem;
}
